body {
    background-color: #FFF9F0;
    margin: 0;
}
 
.maincontainer {
    margin: 80px 15px 200px 15px;
}
 
.navButtons {
    position: fixed;
    bottom: 10%;
    left: 15%;
    z-index: 10;
    display: flex;
    width: 70%;
}
 
.navButton {
    flex: 0;
    flex-grow: 1;
    height: 50px;
    border: solid #000 1px;
    background-color: #FFC70F;
    -webkit-box-shadow: 5px 5px 0px 0px rgba(0,0,0,1);
    -moz-box-shadow: 5px 5px 0px 0px rgba(0,0,0,1);
    box-shadow: 5px 5px 0px 0px rgba(0,0,0,1);
}
 
.title {
    font-size: 34px;
    letter-spacing: 5px;
    margin-bottom: 30px;
}
 
.buttoncontainer {
    display: flex;
    justify-content: space-between;
    gap: 8%;
}
 
.catButton {
    width: 100%;
    height: 50px;
    font-size: 24px;
    background-color: white;
    color: #000;
    margin: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    border: solid #000 1px;
    transition: all 0.3s ease-in-out;
}
 
.clicked {
    background-color: #283886;
    color: #fff;
    margin: -5px 5px 5px -5px;
    -webkit-box-shadow: 5px 5px 0px 0px rgba(0,0,0,1);
    -moz-box-shadow: 5px 5px 0px 0px rgba(0,0,0,1);
    box-shadow: 5px 5px 0px 0px rgba(0,0,0,1);
}
 
.slidercontainer {
    margin-top: 40px;
}
 
.titlecontainer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}
 
.sliderTitle {
    margin: 0;
    font-size: 22px;
    letter-spacing: 5px;
}
 
.splide__slide {
    max-width: 24%;
    padding-bottom: 5px;
}
 
.splide__slide a img {
    width: 100%;
    -webkit-box-shadow: 5px 5px 0px 0px rgba(0,0,0,1);
    -moz-box-shadow: 5px 5px 0px 0px rgba(0,0,0,1);
    box-shadow: 5px 5px 0px 0px rgba(0,0,0,1);
}
 
.splide {
    position: relative;
    margin-right: -15px;
}